In [2]:
#for, loop, while

In [3]:
myList = [1,2,3,4,4,5]

In [51]:
for i in myList:
    print(i)

1
2
3
4
4
5

In [52]:
for i in myList:
    if i == 4:
        continue
    print(i)

1
2
3
5

In [56]:
myStr = "mehmet kose gtu electronic"    
for i in myStr:
    print(i)

m
e
h
m
e
t

k
o
s
e

g
t
u

In [58]:
myTuple = (1,2,3,4,5,5,1)
for i in myTuple:  # tuple unmutable
    print(i - 10)

-9
-8
-7
-6
-5
-5
-9

In [59]:
listOfTuple = [(1.1,11.1), (2.2,22.2),(123.123,456.456)]
type(listOfTuple)

list

In [60]:
type(listOfTuple[0])

tuple

In [61]:
for element in listOfTuple:
    print(element)

(1.1, 11.1)
(2.2, 22.2)
(123.123, 456.456)

In [62]:
for element in listOfTuple:
    print("that is first element in index zero",element[0])
    print("that is second element in first index",element[1])

that is first element in index zero 1.1
that is second element in first index 11.1
that is first element in index zero 2.2
that is second element in first index 22.2
that is first element in index zero 123.123
that is second element in first index 456.456

In [66]:
myDict  = {"keyOneFSm":1453, "keyTwoUtman":1299, "keyThreeSuleymanFirst":1526}
for (i) in myDict.items():
    print(i)
for (key, value) in myDict.items():
    print(key)
for (key,value) in myDict.items():
    print(value)

('keyOneFSm', 1453)
('keyTwoUtman', 1299)
('keyThreeSuleymanFirst', 1526)
keyOneFSm
keyTwoUtman
keyThreeSuleymanFirst
1453
1299
1526

In [69]:
myList = [1,2,3,4,5,6,7,8,]
for i in myList:
    if i == 5 :
        break
    print(i)

1
2
3
4

In [70]:
for i in myList:
    if i == 5 :
        continue
    print(i)

1
2
3
4
6
7
8

In [71]:
for i in myList: 
    pass